.cart-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .cart-items {
    /* flex: 1; */
    border: 1px solid #ccc;
    margin-right: 10px;
    width: 70%;

  }
  
  .cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    background-color: #dfdfdf;
  }
  
  .item-left {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .item-left img{
    width: 200px;
    height: 200px;
  }
  
  .item-details {
    display: flex;
    flex-direction: column;
  }
  
  .product-name {
    font-weight: bold;
  }
  
  .seller-name {
    color: #888;
  }
  
  .item-price {
    font-size: 18px;
    font-weight: bold;
  }
  
  .quantity-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
  }


  
  .buy-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
 

  .quantity-buttons {
    display: flex;
    align-items: center;
  }
  
  .styled-button {
    font-size: 1.2rem;
    padding: 0.6rem 0.7rem;
    border: solid;
    color: #07ec53;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
  }
  
  .styled-button:hover {
    background-color: #2980b9;
  }
  
  .quantity-display {
    font-size: 1.2rem;
    margin: 0 1rem;
    border-style: solid;
    border-color: rgb(2, 236, 84);
    width: 70px;
    text-align: center;
    display: inline-block;
    
  }
  
  .remove-button {
    margin-left: 1rem;
    background-color: #555454;
    border-radius: 5px;
  }
  
  .remove-button:hover {
    background-color: #c0392b;
  }



.cart-summary {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 0 auto;
  padding-left: 10px;
  width: 30%;
  background-color: #dfdfdf;
  display: flex;
  flex-direction: column;
}



.section-title {
  text-align: center;
  margin-bottom: 80px;
  font-size: xx-large;
  
}


.detail-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}


.detail-name {
  font-weight: bold;
}


.bold-total {
  font-weight: bold;
  margin-top: 10px;
}


.cart-buy-button {
  background-color: #11a904;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-top: 15px;
}


.cart-buy-button:hover {
  background-color: #0c6502;
}

.product-absence-message {
  font-size: xx-large;
  font-weight: bold;
  color: #555;
  text-align: center;
  padding: 20px;
  background-color: rgb(159, 98, 118);
  margin-top: 20%;
  color: #035c21;
}