
.featured-product {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    width: 100%;
    height: 350px;
  }
  
  .featured-product img {
    max-width: 100%;
    height: 300px;
  }

  