.product-details-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  .product-image img {
    width: 400px;
    height: 400px;
  }
  

  .product-details-box{
    margin-right: 200px;
    width: 100%;
    display: flex;
  }

  .Product-detail-list{
    list-style: none;
  }

  .product-list-name{
    font-weight: bolder;
    font-size: xx-large;
    color: black;
  }

  .product-list-description{
    color: black;
    font-size: medium;
  }

  .Product-price-details{
    display: flex;
  }
  .product-price{
    font-weight: bold;
    color: rgb(80, 157, 3);
  }
  .product-nickname{
    margin-left: 70px;
  }

  .cart-buy-buttons{
    display: flex;
  }
  
  .button-container {
    margin-top: 10px;
  }
  


  .cart-btn, .buy-btn{
    width: 200px;
    background-color: rgb(1, 100, 13);
    height: 40px;
    border-radius: 10px;
    text-align: center;
    color: white;

  }

  .cart-btn {
    margin-right: 20px;
  }

  .buy-btn{
    margin-left: 20px;
  }
  
  .seller-section {
    display: flex;
    align-items: center;
    margin-top: 40px;
  }
  
  .seller-avatar {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin-right: 70px;
  }
  
  .seller-name {
    font-size: 16px;
  }

  .seller-info{
    display: block;
    margin-top: 5px;
  }
  