/* 

.user-login-container {
    background-color: #0000;
  }
  
  .card {
    border-radius: 1rem;
  }
  
  .card-body {
    padding: 4rem 4rem 2rem;
  }
  
  img.img-fluid {
    border-radius: 1rem 0 0 1rem;
    max-width: 200px;
    max-height: 200px;
  }
  
  .btn-dark {
    background-color: #393f81;
    border-color: #393f81;
    color: #fff;
  }
  
  .btn-dark:hover {
    background-color: #2f356b;
    border-color: #2f356b;
  }
   */
